.container
  .row
    .col-lg-10.col-xl-9.mx-auto
      .card.flex-row.my-5.border-0.shadow.rounded-3.overflow-hidden
        .card-img-left.d-none.d-md-flex
          / Background image for card set in CSS!
        .card-body.p-4.p-sm-5
          %h5.card-title.text-center.mb-5.fw-light.fs-5 Register
          %form
            .form-floating.mb-3
              %input#floatingInputUsername.form-control{autofocus: "", placeholder: "myusername", required: "", type: "text"}/
              %label{for: "floatingInputUsername"} Username
            .form-floating.mb-3
              %input#floatingInputEmail.form-control{placeholder: "name@example.com", type: "email"}/
              %label{for: "floatingInputEmail"} Email address
            %hr/
            .form-floating.mb-3
              %input#floatingPassword.form-control{placeholder: "Password", type: "password"}/
              %label{for: "floatingPassword"} Password
            .form-floating.mb-3
              %input#floatingPasswordConfirm.form-control{placeholder: "Confirm Password", type: "password"}/
              %label{for: "floatingPasswordConfirm"} Confirm Password
            .d-grid.mb-2
              %button.btn.btn-lg.btn-primary.btn-login.fw-bold.text-uppercase{type: "submit"} Register
            %a.d-block.text-center.mt-2.small{href: "#"} Have an account? Sign In
            %hr.my-4/
            .d-grid.mb-2
              %button.btn.btn-lg.btn-google.btn-login.fw-bold.text-uppercase{type: "submit"}
                %i.fab.fa-google.me-2
                Sign up with Google
            .d-grid
              %button.btn.btn-lg.btn-facebook.btn-login.fw-bold.text-uppercase{type: "submit"}
                %i.fab.fa-facebook-f.me-2
                Sign up with Facebook
%h2 Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email,required: false,autofocus: true,input_html: { autocomplete: "email" }
    = f.input :password,                               |
      required: false,                                 |
      input_html: { autocomplete: "current-password" } |
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Log in"
= render "devise/shared/links"
